* {
    margin: 0 auto;
    padding: 0;
    width: 970px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 75px;
    text-align: center;
    color: #FFF;
    background-color: rgba(0,0,0,.8);
}

nav {
    margin-bottom: 15px;
    width: 100%;
    height: 35px;
    background-color: cyan;
}

nav ul {
    text-align: center;
}

nav ul li {
    width: auto;
    padding: 10px 8px;
    display: inline-block;
    color: #FFF;
    background-color: #D3D3D3;
}

main {
    width: 95%;
}

section:first-child {
    width: 100%;
    height: 65px;
    background-color: #80ffd0;
}

.photo {
    width: 300px;
    height: 400px;
    display: inline-block;
    background-color: green;
}

.photo img {
    width: 300px;
    height: 400px;
}
